{% extends "base.html" %}
{% load static %}
{% load bootstrap_icons %}
{% load mathfilters %}
{% load crispy_forms_tags %}
{% block title %}
Create Blog
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/personal.css'%}" />
<div class="row">
    <div class="p-4 border bg-light">
        <h4>Create/Edit Your Own Blog</h4>
        {% if form.errors %}
            <div class="alert alert-danger">{{ form.errors }}
            </div>
        {% endif %}
        <form method="POST"  enctype="multipart/form-data">
            <div class="form-floating">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-outline-dark" type="submit">Create/Edit Blog</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}