{% extends "personal/personalBlogBase.html" %}
{% load static %}
{% load bootstrap_icons %}
{% load mathfilters %}
{% block personalPost %}
{% load crispy_forms_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'css/personal.css'%}" />
<div class="row">
        <div class="col-md-8">
            <div class="p-4">
                <h4>Write a new post</h4>
                <form method="POST"  enctype="multipart/form-data">
                    <div class="form-floating">
                        {% csrf_token %}
                        {{ form|crispy }}
                        Current Image:
                        <br/>
                        {% if post.image %}
                            <img src="{% get_media_prefix %}{{post.image}}" class="img-thumbnail">
                        {% else %}
                            No image uploaded yet
                        {% endif %}
                        <br/>
                        <button class="btn btn-outline-dark mt-5" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
         <div class="col-md-4">
              <a href="{% url 'Personal:manage' %}" class="row p-3 text-decoration-none text-end">
                    <button class="btn btn-dark rounded-5  " type="button">
                        {% bs_icon 'justify' %} Manage Post
                    </button>
              </a>
            <div class="p-4 border bg-light">
                My Post
                {% for p in posts %}
                <div class="post-link border-bottom  pt-3 pb-3">
                    <span class="text-black-50">{{p.modification_datetime.date}}</span>
                    <h6 class="mb-2"><a href="#">{{p.title}}</a></h6>
                </div>
                {% endfor %}
            </div>
        </div>
</div>
{% endblock %}