{% extends "base.html" %}
{% load static %}
{% load bootstrap_icons %}
{% load mathfilters %}
{% block title %}
{{profile.first.user.username}}
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/personal.css'%}" />
<section name="blogInfo">
    <div class="overflow-hidden">
        <div class="container" >
            <div class="row">
                <div class="personal-banner">
                    {% if profile.first.blog_image %}
                        <img src="{% get_media_prefix %}{{ profile.first.blog_image}}" >
                    {% else %}
                        <img src="{% static 'images/blogpost_placeholder.png' %}" >
                   {% endif %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="text-center mt-3 text-light bg-dark p-2">
                <h1 class="display-2 banner-text">{{profile.first.blog_title}}</h1>
            </div>
        </div>
        <div class="container">
            <div class = "row">
                <div class="col-4 d-flex align-items-center justify-content-center p-3">
                    <div class="">
                        <a href="{% url 'Profile:profile' profile.first.slug %}" class="text-decoration-none text-dark">
                            {% if profile.first.profile_image %}
                            <img id="profile-picture" class="shadow rounded-circle ratio ratio-1x1" src="{% get_media_prefix %}{{profile.first.profile_image}}" alt="" class="img-fluid">
                            {% else %}
                            <img id="profile-picture"class="shadow rounded-circle ratio ratio-1x1" src="{% static 'images/placeholder-profile-icon.jpg' %}" alt="" class="img-fluid">
                            {% endif %}
                            <br/><h3 class="m-4">{{profile.first.user.username}}</h3>
                        </a>
                    </div>
                </div>
                <div class="col-8 p-3">
                    <div class = "text-center  p-4">
                        {% if profile.first.blog_description %}
                        {{profile.first.blog_description}}
                        {% else %}
                        No Provided Description
                        {% endif %}
                        <br/>
                        <br/>
                        Start From {{profile.first.user.date_joined.date}}
                        <div class="row m-3 pt-4">
                            <div class="col border-end text-center"><b>{{profile.first.user.post_set.count}}</b></br>Posts</div>
                            <div class="col border-end text-center"><b>{{profile.first.follower.count}}</b></br>Followers</div>
                            <div class="col border-end text-center"><b>{{profile.first.following_users.count}}</b></br>Followings </div>
                            <div class="col text-center"><b>{{profile.first.fav_post.count}}</b></br>Favourite Posts</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row g-2">
                <div class="col-md-8">
                    <div class="p-4 border bg-light">
                        <h4>Recent Post</h4>
                        {% if post_list.count == 0 %}
                        <div class="row g-5">
                            <div class="col post-link ms-2 p-2">
				                No post
                            </div>
                        </div>
                        {% else %}
                        <div class="row g-5">
                            {% for post in post_list|slice:":4" %}
                            {% if  forloop.first %}
                            <div class="col post-link">
                                <a href="{% url 'Home:post_detail' post.id %}">
                                    {% if post.image %}
                                    <img src="{% get_media_prefix %}{{ post.image}}" alt="{{post.slug}}" class="img-fluid m-2">
                                    {% else %}
                                    <img src="{% static 'images/blogpost_placeholder.png' %}" alt="{{post.slug}}" class="img-fluid m-2">
                                    {% endif %}
                                </a>
                                <div class="post-meta"><span>{{post.modification_datetime}}</span></div>
                                    <h4><a href="{% url 'Home:post_detail' post.id %}">{{post.title}}</a></h4>
                                    <p class="mb-4 d-block post-content-preview truncated">{{post.content|truncatechars:250}}</p>
                                    <div class="text-end">
                                        <a href="{% url 'Home:post_detail' post.id %}"  class="post-link"><button class="btn btn-dark rounded-5  "type="button">Read More</button></a>
                                    </div>
                                </div>
                            {% if post_list.count == 1 %}
                            </div>
                            {% endif %}
                            {% else %}
                            {% if forloop.counter0|sub:1|divisibleby:3 %}
                            <div class="col border-start custom-border">
                            {% endif %}
                                    <div class="row post-entry-1 post-link border-bottom pt-3 pb-3">
                                        <div class="col-5 pt-2 pb-2">
                                            <a href="{% url 'Home:post_detail' post.id  %}" class="post-link" >
                                            {% if post.image %}
                                                <img src="{% get_media_prefix %}{{ post.image}}" alt="" class="img-fluid">
                                            {% else %}
                                                <img src="{% static 'images/blogpost_placeholder.png' %}" alt="{{post.slug}}" class="img-fluid">
                                            {% endif %}
                                            </a>
                                        </div>
                                        <div class="col-6">
                                            <div class="post-meta">
                                                <span class="date">{{post.modification_datetime.date}}</span>
                                            </div>
                                                <h5><a href="{% url 'Home:post_detail' post.id  %}">{{post.title}}</a></h5>
                                        </div>
                                    </div>
                            {% if forloop.last %}
                                </div>
                            </div>
                            {% endif %}
                            {% endif %}
                            {% endfor%}
                        {% endif %}
                        </div>
                        <div class="mt-2 border bg-light">
                            <div class="text-center bg-dark text-light p-2">
                                <h6>All Post</h6>
                            </div>
                            {% for post in post_list %}
                            <a href="{% url 'Home:post_detail' post.id %}" class="text-decoration-none text-dark">
                                <div class="post-link border-bottom  pt-3 pb-3">
                                     <div class="row pe-4 ps-4">
                                         <div class="col-md-10">
                                            <span class="text-black-50">{{post.modification_datetime|date:'Y-m-d H:i'}}</span>
                                            <h6 class="mb-2">{{post.title}}</h6>
                                        </div>
                                        <div class="col-md-1 text-end">{% bs_icon 'heart' %}{{post.blogger_set.count}}</div>
                                         <div class="col-md-1 text-end">{% bs_icon 'chat' %}{{post.comment_set.count}} </div>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="p-4 border bg-light" class="text-decoration-none text-dark">
                            <h5>Popular Post</h5>
                            {% for post in post_list|dictsortreversed:"num_fav"|slice:":5" %}
                                <a href="{% url 'Home:post_detail' post.id %}">
                                    <div class="post-link border-bottom  pt-3 pb-3">
                                        <span class="text-black-50">{{post.modification_datetime|date:'d M, Y H:i'}}</span>
                                        <h6 class="mb-2"><a href="{% url 'Home:post_detail' post.id %}">{{post.title}}</a></h6>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}